.logo {
    margin: 0 !important;
}

#title {
    color: var(--offwhite);
}

h1 {
    font-size: 64px !important;
    font-weight: 900 !important;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.card {
    margin: 2.5rem !important;
    padding: 3rem;
    width: 26rem !important;
}