<div class="d-flex flex-column align-items-center">
    <div class="ann-logo">
        <img src="../../../assets/images/logo_igrannonica_temp.png" class="bi me-2" width="256" height="256" role="img">
    </div>

    <div class="d-flex flex-column align-items-center">

        <div class="rounded-pill bg-light px-4 m-4 shadow-accent position-relative">
            <a routerLink="experiment" class="stretched-link">
                <h2 class="my-4">Započnite sa eksperimentisanjem!
                    <mat-icon>lightbulb</mat-icon>
                </h2>
            </a>
        </div>



    </div>
    <app-form-model>
        
    </app-form-model>
</div>