<div class="container">
  <div>
    <label>Skriveni sloj {{hiddenLayerNum}}</label>
  </div>
    <mat-form-field appearance="fill">
        <mat-label>Aktivaciona funkcija</mat-label>
        <mat-select matNativeControl required [formControl]="selectActivationFormControl">
          <mat-option value="saab">Relu</mat-option>
          <mat-option value="mercedes">Sigmoid</mat-option>
          <mat-option value="audi">Softmax</mat-option>
        </mat-select>
        <mat-error *ngIf="selectActivationFormControl.hasError('required')">
            Obavezno polje
        </mat-error>
      </mat-form-field>
<br>
<div class="row">
      <label style="width: 7rem;" for="hiddenLayersNeurons">Broj čvorova:</label> <input type="number" min="1" class="form-control" name="hiddenLayersNeurons" style="max-width: 5rem;">
</div>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Regularizacija</mat-label>
        <mat-select matNativeControl required [formControl]="selectRegularisationFormControl">
          <mat-option value="l1">L1</mat-option>
          <mat-option value="l2">L2</mat-option>
        </mat-select>
        <mat-error *ngIf="selectRegularisationFormControl.hasError('required')">
            Obavezno polje
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Stopa regularizacije</mat-label>
        <mat-select matNativeControl required [formControl]="selectRRateFormControl">
          <mat-option value="saab">0.001</mat-option>
          <mat-option value="mercedes">0.01</mat-option>
          <mat-option value="audi">0.1</mat-option>
        </mat-select>
        <mat-error *ngIf="selectRRateFormControl.hasError('required')">
            Obavezno polje
        </mat-error>
      </mat-form-field>
</div>
