<app-gradient-background></app-gradient-background>
<app-reactive-background [speed]="0.0005" [scrollSpeed]="0.25" [minDistance]="0.1" [maxSize]="4" [cursorDistance]="0.07" [lineColor]="'#00a8e8'" [pointColor]="'rgba(0, 188, 252, 0.33)'" [cursorLineColor]="'#00a8e8'" [numPoints]="200">
</app-reactive-background>
<app-reactive-background [speed]="0.0008" [scrollSpeed]="0.5" [minDistance]="0.12" [maxSize]="6" [cursorDistance]="0.09" [lineColor]="'#00a8e8'" [pointColor]="'rgba(0, 188, 252, 0.66)'" [cursorLineColor]="'#00a8e8'" [numPoints]="100">
</app-reactive-background>
<app-reactive-background [speed]="0.001" [scrollSpeed]="1" [minDistance]="0.14" [maxSize]="8" [cursorDistance]="0.12" [lineColor]="'#00a8e8'" [pointColor]="'rgba(0, 188, 252, 1)'" [cursorLineColor]="'#00a8e8'" [numPoints]="50">
</app-reactive-background>
<app-navbar></app-navbar>
<div class="container h-100">
    <router-outlet></router-outlet>
    <!--<app-barchart></app-barchart>
    <app-scatterchart></app-scatterchart>-->
</div>
<app-notifications></app-notifications>