sandbox/test-projekat-danijel/backend/backend/bin/
sandbox/test-projekat-danijel/backend/backend/obj/
sandbox/test-projekat-danijel/backend/.vs/
sandbox/testAppSonja/MiniApkSonja/MiniApkSonja/bin/
sandbox/testAppSonja/MiniApkSonja/MiniApkSonja/obj/
sandbox/TestTamara/TestTamara/TestTamara/obj/
sandbox/TestTamara/TestTamara/TestTamara/bin/
backend/microservice/temp/
backend/microservice/api/__pycache__/
