
<div id="wrapper">
    <br>
    <div id="container" class="container p-5" style="background-color: white; min-height: 100%;">
        
        <div id="header">
            <h1>Iskoristite prediktor</h1>
        </div>
        
        <br>
        
        <div class="form-group row mt-3 mb-2 d-flex justify-content-left">
            <!--justify-content-center-->
            <h2> Izabrani prediktor: </h2>
            <div class="col-10">
                <label for="output" class="col-sm-5 col-form-label">Naziv prediktora: <b>{{predictor.name}}</b></label>
            </div>
            <div>
                <label for="output" class="col-sm-5 col-form-label">Opis prediktora: <b>{{predictor.description}}</b></label>
            </div>

            
        </div>
    <br>
        <label for="type" class="form-check-label" ><b>Informacije o prediktoru</b></label>
        <div class="col-5 mt-2">
            <label for="type" class="form-check-label"  >Prediktor {{predictor.isPublic?"je":"nije"}} javni.</label>
        </div>
        <div class="col-5 mt-2">
            <label for="type" class="form-check-label" >Prediktor {{predictor.accessibleByLink?"je":"nije"}} dostupan za deljenje.</label>
        </div>
        <br>
        <div class="col-2">
            <label for="dateCreated" class="col-form-label">Datum:</label> 
            <input type="text" class="form-control-plaintext" id="dateCreated" placeholder="--/--/--"
                value="{{predictor.dateCreated | date: 'dd/MM/yyyy'}}" readonly>
        </div>


        <br>
        <div >
            <!--input -->
            <h3>Popunite ulazne kolone:</h3>
            <div id="divInputs" class="form-check mt-2">
                <div *ngIf="predictor" class="form-group row mt-3 mb-2 d-flex justify-content-left">
                    <div *ngFor="let input of predictor.inputs; let i = index">
                        <label for="{{input}}" class="col-sm-2 col-form-label"><b>{{input}}</b></label>
                        <input name="{{input}}"  type="text"  [(ngModel)]="inputs[i].value" >

                    </div>
                    
                </div>
            </div>
           
            <br>    

        </div>
        <div>
            <label for="output" class="col-sm-2 col-form-label">Izlaz: <b>{{predictor.output}}</b></label>
        </div>
        
        <div class="form-group row mt-5 mb-3">
            <div class="col"></div>
            <button class="btn btn-lg col-4" style="background-color:#003459; color:white;"
                (click)="usePredictor();">Iskoristi prediktor</button>
            <div class="col"></div>
            
        </div>

        
        
    </div>
</div>