
<div id="wrapper">

    <div id="container" class="container p-5" style="background-color: white; min-height: 100%;">
        <div class="row mt-3 mb-2 d-flex justify-content-center">
    
    <div class="col-sm-6" style="margin-bottom: 10px;">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
    </div>

            <div class="row">
                <div class="col-sm-4" style="margin-bottom: 10px;" *ngFor="let predictor of myPredictors | filter:term">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">{{predictor.name}}</h5>
                      <p class="card-text">{{predictor.description}}</p>
                      <a href="#" class="btn btn-primary">Otvori</a>
                    </div>
                    <div class="card-footer text-muted">
                        Kreirao: {{predictor.username}} <br>
                        Datum kreiranja: {{predictor.dateCreated |date}}
                      </div>
                  </div>
                </div>
               

              </div>


              











        </div>
    </div>
</div>