ul{
    list-style: none;
}
.navmenu{
    position: absolute;
    background-color: var(--ns-bg-dark-50);
    height: 90%;
    width: 250px;
}
.navmenuwrapper{
    position: relative;
    top:40%;
    transform: translateY(-50%);
}


mat-stepper{
    background-color: transparent;
}

::ng-deep .mat-step-header .mat-step-icon .mat-step-content{
    background-color: white;
    color:var(--ns-primary); 
  }
::ng-deep .mat-step-header .mat-step-icon{
    color:white;
}
::ng-deep .mat-step-header .mat-step-icon-state-done{
    background: var(--ns-primary);
    color:var(--ns-primary)
}
::ng-deep .mat-step-header .mat-step-icon-state-done .label{
    color:var(--ns-primary)
}
.label{
    color: white;
}