ul {
    list-style: none;
}

.holder {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.sidenav {
    width: 250px;
    background-color: var(--ns-bg-dark-50);
}

@media only screen and (max-width: 400px) {
    .sidenav {
        width: 100%;
        background-color: var(--ns-bg-dark-100);
    }
    .holder {
        flex-direction: column;
    }
}

mat-stepper {
    background-color: transparent;
}

.label {
    color: white;
}