<header class="sticky-top p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="" class="nav-link px-2"
                        [class]="(currentUrl === '') ? 'text-secondary' : 'text-white'">Početna</a></li>
                <li><a routerLink="add-model" class="nav-link px-2"
                        [class]="(currentUrl === '/add-model') ? 'text-secondary' : 'text-white'">Dodaj model</a></li>
                <li><a routerLink="predict" class="nav-link px-2"
                        [class]="(currentUrl === '/predict') ? 'text-secondary' : 'text-white'">Predvidi</a></li>
            </ul>

            <div *ngIf="shared.loggedIn" class="dropdown text-end">
                <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1"
                    style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 34px);"
                    data-popper-placement="bottom-end">
                    <li><a class="dropdown-item" href="#">Nov model...</a></li>
                    <li><a class="dropdown-item" href="#">Podešavanja</a></li>
                    <li><a class="dropdown-item" href="#">Moj profil</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Odjavi se</a></li>
                </ul>
            </div>
            <div *ngIf="!shared.loggedIn" class="dropdown text-end">
                <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal"
                    data-bs-target="#modalForLogin">
                    Prijavi se
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalForRegister">
                    Registruj se
                </button>
            </div>
        </div>
    </div>
</header>

<app-login-modal></app-login-modal>
<app-register-modal></app-register-modal>