@keyframes logo-animation {
    from {
        transform: perspective(100em) rotateX(50deg) rotateZ(0deg);
    }
    to {
        transform: perspective(100em) rotateX(50deg) rotateZ(360deg);
    }
}

.ann-logo {
    animation-name: logo-animation;
    animation-duration: 3140ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bg-controls {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.center-horizontal {
    margin-top: 50%;
    margin-left: auto;
    transform: translateX(-50%);
}

.footer-center {
    position: relative;
    height: 1rem;
}

.footer-center>* {
    position: fixed;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}

.row-height {
    white-space: nowrap;
    height: 1rem;
}