/*Mora da se ispravi za media kada je ekran premali pa se poredjaju u kolonu*/

html,
body {
    height: 100%;
}

.align-items-view>*:first-child {
    transform: perspective(100em) rotateY(25deg) translateZ(1em);
}

.align-items-view>* {
    transform: perspective(100em) translateZ(-2em);
}

.align-items-view>*:last-child {
    transform: perspective(100em) rotateY(-25deg) translateZ(1em);
}