
<div id="container">
  <div id="header">
    <div id="logo">

    </div>
  </div>
  <div id="menu">
    <!-- <div id="pocetna"><a href="index.html">POČETNA</a></div>-->
    <div id="sat"></div>
  </div>
  <div id="main">
  
    <h1>SKI CENTRI</h1>
    <div id="list">
      <ul>
        <li><a href="https://www.skijalistasrbije.rs/sr/o-centru-kopaonik">KOPAONIK</a></li>
        <li><a href="https://www.skijalistasrbije.rs/sr/prohodnost-staza-i-rad-zicara-tornik">TORNIK</a></li>
        <li><a href="https://www.skijalistasrbije.rs/sr/prohodnost-staza-i-rad-zicara-stara-planina">STARA PLANINA</a></li>
        <li><a href="https://www.skijalistasrbije.rs/sr/o-centru-brezovica">BREZOVICA</a></li>
        <li><a href="https://www.skijalistasrbije.rs/sr/ski-info-prohodnost-staza-kopaonik-stara-planina-zlatibor-brezovica">SKI INFO</a></li>
      </ul>
     
    </div>
    <div id="izbor" style="font-size: 70px; position:absolute; margin-top: 120px;margin-left: 300px; color:white;text-shadow: 3px 3px 6px whitesmoke;">
      <p>{{poruka}}</p>
       
  </div>


  </div>
  <div id="footer">

  </div>
</div>
