.folderBox {
    width: 100%;
    height: 100%;
    position: relative;
}

.icon-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
}

.bottomBar {
    position: absolute;
    bottom: 0%;
    left: 5%;
}

#bottomButton {
    background-color: var(--ns-bg-dark-100);
    width: 10%;
    height: 65%;
}