mat-label{
    color: var(--offwhite) !important;
}
select{
    color: var(--offwhite) !important;
}
mat-form-field{
    color: var(--offwhite) !important;
}
hr{
    color: var(--offwhite) !important;
}