#container{
    color:var(--offwhite);
}
mat-label{
    color: var(--offwhite) !important;
}
select{
    color: var(--offwhite) !important;
}
mat-form-field{
    color: var(--offwhite) !important;
    padding: 0;
}
hr{
    color: var(--offwhite) !important;
    margin-bottom: 30px;;
}
.row{
    margin: 0;
    padding: 0;
}
mat-icon{
    color: var(--ns-primary);
}
#rowhn{
    margin-bottom:-50px;
    padding: 0;
}