#container{
    color:var(--offwhite);
}
mat-label{
    color: var(--offwhite) !important;
}
select{
    color: var(--offwhite) !important;
}
mat-form-field{
    color: var(--offwhite) !important;
    padding: 0;
}
hr{
    color: var(--offwhite) !important;
    margin-bottom: 30px;;
}
.row{
    margin: 0;
    padding: 0;
}
mat-icon{
    color: var(--ns-primary);
}
#rowhn{
    margin-bottom:-50px;
    padding: 0;
}
.neuron{
  
    text-align: justify;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0;
    color: white!important;
    background-color: var(--ns-bg-dark-100) !important;
    min-width: none;
    max-width: 12.5rem;
   
}
mat-form-field{
    font-size: 12px;
}
col-1{
    text-align: center;
}
mat-icon{
    margin-right: 5px;
    margin-left: -7px;
}