<div id="container">
    <div class="ns-row">

        <div class="ns-col">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Naziv</mat-label>
                <input type="text" matInput [(ngModel)]="newModel.name">
            </mat-form-field>
        </div>
        <div class="ns-col">
            <mat-form-field appearance="fill">
                <mat-label>Tip problema</mat-label>
                <mat-select [(ngModel)]="newModel.type">
                    <mat-option *ngFor="let option of Object.keys(ProblemType); let optionName of Object.values(ProblemType)" [value]="option">
                        {{ optionName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="break-1"></div>

        <div class="ns-col">
            <mat-form-field appearance="fill">
                <mat-label>Optimizacija</mat-label>
                <mat-select [(ngModel)]="newModel.optimizer">
                    <mat-option *ngFor="let option of Object.keys(Optimizer); let optionName of Object.values(Optimizer)" [value]="option">
                        {{ optionName }}
                    </mat-option>
                </mat-select>

            </mat-form-field>
        </div>
        <div class="ns-col">
            <mat-form-field appearance="fill">
                <mat-label>Funkcija troška</mat-label>
                <mat-select [(ngModel)]="newModel.lossFunction">
                    <mat-option *ngFor="let option of Object.keys(LossFunction); let optionName of Object.values(LossFunction)" [value]="option">
                        {{ optionName }}
                    </mat-option>
                </mat-select>

            </mat-form-field>
        </div>

        <div class="break-2"></div>

        <div class="ns-col">
            <mat-form-field appearance="fill">
                <mat-label>Funkcija aktivacije izlaznog sloja</mat-label>
                <mat-select name="outputLayerActivationFunction" [(ngModel)]="newModel.outputLayerActivationFunction">
                    <mat-option *ngFor="let option of Object.keys(ActivationFunction); let optionName of Object.values(ActivationFunction)" [value]="option">
                        {{ optionName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="ns-col">
            <mat-form-field appearance="fill">
                <mat-label>Stopa učenja</mat-label>
                <mat-select [(ngModel)]="newModel.learningRate">
                    <mat-option *ngFor="let option of Object.keys(LearningRate); let optionName of Object.values(LearningRate)" [value]="option">
                        {{ optionName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="break-1"></div>

        <div class="ns-col">
            <mat-form-field appearance="fill">
                <mat-label>Broj epoha</mat-label>
                <input type="number" matInput [(ngModel)]="newModel.epochs" min="1" max="1000">
            </mat-form-field>
        </div>
        <div class="ns-col">
            <mat-form-field appearance="fill">
                <mat-label>Broj uzoraka po iteraciji</mat-label>

                <mat-select matNativeControl required [(value)]="newModel.batchSize">
                    <mat-option *ngFor="let option of Object.keys(BatchSize); let optionName of Object.values(BatchSize)" [value]="option">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
</div>


<!--kraj unosa parametara-->
<hr>
<div class="m-2">
    <app-graph [model]="newModel" [inputCols]="newModel.inputColNum"></app-graph>
</div>
<div class="ns-row">

    <div class="ns-col" id="layers-control">
        <div>Broj Skrivenih Slojeva</div>
        <button class="btn-clear btn-icon" (click)="addLayer()">
            <mat-icon>add</mat-icon>
        </button>
        <div>{{newModel.hiddenLayers}}</div>
        <button class="btn-clear btn-icon" (click)="removeLayer()">
            <mat-icon>remove</mat-icon>
        </button>

    </div>
    <div class="break-1"></div>
    <div class="ns-col">
        <mat-form-field appearance="fill">
            <mat-label>Aktivaciona funkcija svih slojeva</mat-label>

            <mat-select [(ngModel)]="selectedActivation" (selectionChange)="changeAllActivation()">
                <mat-option *ngFor="let option of Object.keys(ActivationFunction); let optionName of Object.values(ActivationFunction)" [value]="option">
                    {{ optionName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="ns-col">
        <mat-form-field appearance="fill">
            <mat-label>Broj Neurona svih slojeva</mat-label>
            <input matInput type="number" [(ngModel)]="selectedNumberOfNeurons" (change)="changeAllNumberOfNeurons()">
        </mat-form-field>
    </div>
    <div class="break-2"></div>
    <div class="ns-col">
        <mat-form-field appearance="fill">
            <mat-label>Regularizacija svih slojeva</mat-label>
            <mat-select [(ngModel)]="selectedRegularisation" (selectionChange)="changeAllRegularisation()">
                <mat-option *ngFor="let option of Object.keys(Regularisation); let optionName of Object.values(Regularisation)" [value]="option">
                    {{ optionName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="ns-col">
        <mat-form-field appearance="fill">
            <mat-label>Stopa regularizacije svih slojeva</mat-label>
            <mat-select [(ngModel)]="selectedRegularisationRate" (selectionChange)="changeAllRegularisationRate()">
                <mat-option *ngFor="let option of Object.keys(RegularisationRate); let optionName of Object.values(RegularisationRate)" [value]="option">
                    {{ optionName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>


</div>

<!--kraj selectall**********************************************************************************-->
<hr>
<div id="layers">

    <div class="layer" *ngFor="let item of newModel.layers; let i=index">


        <mat-form-field appearance="fill">
            <mat-label>Aktivacija</mat-label>
            <button matPrefix class="btn-clear center-center text-offwhite">        
                <div>
                    #{{i+1}}
                </div>
            </button>
            <mat-select [(ngModel)]="newModel.layers[i].activationFunction">
                <mat-option *ngFor="let option of Object.keys(ActivationFunction); let optionName of Object.values(ActivationFunction)" [value]="option">
                    {{ optionName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="d-flex flex-row align-items-center justify-content-center m-1">
            <div class="col-6" style="font-size: 13px;">Broj čvorova</div>
            <button class="btn-clear btn-icon" (click)="addNeuron(i)">
                <mat-icon>add</mat-icon>
            </button>
            <div class="col-2 text-center">{{newModel.layers[i].neurons}}</div>
            <button class="btn-clear btn-icon" (click)="removeNeuron(i)">
                <mat-icon>remove</mat-icon>
            </button>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Regularizacija</mat-label>
            <mat-select [(ngModel)]="newModel.layers[i].regularisation">
                <mat-option *ngFor="let option of Object.keys(Regularisation); let optionName of Object.values(Regularisation)" [value]="option">
                    {{ optionName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Stopa regularizacije</mat-label>
            <mat-select [(ngModel)]="newModel.layers[i].regularisationRate">
                <mat-option *ngFor="let option of Object.keys(RegularisationRate); let optionName of Object.values(RegularisationRate)" [value]="option">
                    {{ optionName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>