<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Naziv</mat-label>
                <select matNativeControl required [formControl]="selectFormControl">
                  <option label="--select something --"></option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
                <mat-error *ngIf="selectFormControl.hasError('required')">
                    Obavezno polje
                </mat-error>
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Tip problema</mat-label>
                <select matNativeControl required [formControl]="selectFormControl">
                    <option
                    *ngFor="let option of Object.keys(ProblemType); let optionName of Object.values(ProblemType)"
                    [value]="option">
                    {{ optionName }}
                </option>
                </select>
                <mat-error *ngIf="selectFormControl.hasError('required')">
                    Obavezno polje
                </mat-error>
              </mat-form-field>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Optimizacija</mat-label>
                <select matNativeControl required [formControl]="selectFormControl">
                    <option
                    *ngFor="let option of Object.keys(Optimizer); let optionName of Object.values(Optimizer)"
                    [value]="option">
                    {{ optionName }}
                </option>
                </select>
                <mat-error *ngIf="selectFormControl.hasError('required')">
                    Obavezno polje
                </mat-error>
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Learning rate</mat-label>
                <select matNativeControl required [formControl]="selectFormControl">
                  <option label="--select something --"></option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
                <mat-error *ngIf="selectFormControl.hasError('required')">
                    Obavezno polje
                </mat-error>
              </mat-form-field>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Broj epoha</mat-label>
                <select matNativeControl required [formControl]="selectFormControl">
                  <option label="--select something --"></option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
                <mat-error *ngIf="selectFormControl.hasError('required')">
                    Obavezno polje
                </mat-error>
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Broj uzoraka po iteraciji</mat-label>
                <select matNativeControl required [formControl]="selectFormControl">
                  <option label="--select something --"></option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
                <mat-error *ngIf="selectFormControl.hasError('required')">
                    Obavezno polje
                </mat-error>
              </mat-form-field>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Funkcija aktivacije izlaznog sloja</mat-label>
                <select matNativeControl required [formControl]="selectFormControl" name="outputLayerActivationFunction" [(ngModel)]="newModel.outputLayerActivationFunction">
                    <option
                    *ngFor="let option of Object.keys(ActivationFunction); let optionName of Object.values(ActivationFunction)"
                    [value]="option">
                    {{ optionName }}
                </option>
                </select>
                <mat-error *ngIf="selectFormControl.hasError('required')">
                    Obavezno polje
                </mat-error>
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Funkcija troška</mat-label>
                <select matNativeControl required [formControl]="selectFormControl">
                    <option
                            *ngFor="let option of Object.keys(lossFunction); let optionName of Object.values(lossFunction)"
                            [value]="option">
                            {{ optionName }}
                        </option>
                </select>
                <mat-error *ngIf="selectFormControl.hasError('required')">
                  Obavezno polje
                </mat-error>
              </mat-form-field>
        </div>
      </div>
    </div><!--kraj unosa parametara-->
    
    <div class="col-1">
        <input type="number" min="1" class="form-control" name="hiddenLayerNeurons" [(ngModel)]="newModel.hiddenLayerNeurons" (ngModelChange)="updateGraph()">
    </div>
    <div class="m-5">
                <app-graph [model]="newModel" [inputCols]="4"></app-graph>
                <div class="col-1">
                    <input type="number" min="1" class="form-control" name="hiddenLayers" [(ngModel)]="newModel.hiddenLayers" (change)="newModel.hiddenLayerActivationFunctions = [].constructor(newModel.hiddenLayers).fill(newModel.hiddenLayerActivationFunctions[0])" (ngModelChange)="updateGraph()">
                </div>
            </div>

  </div>