<div id="folder" style="width: 60rem;">
    <div id="tabs">
        <div id="new-file-tab" class="folder-tab p-1 rounded-top" [style]="'z-index:' + newFileZIndex() + ' ;'" [ngClass]="{'selected-tab' : newFileSelected, 'hover-tab' : hoveringOverFileIndex == -2}">
            <mat-icon class="text-offwhite">add</mat-icon>
            <a class="stretched-link tab-link" (click)="selectNewFile()" (mouseenter)="hoverOverFile(-2)" (mouseleave)="hoverOverFile(-1)">
                <p class="m-1" *ngIf="newFile != undefined">{{newFile.name}}</p>
            </a>
        </div>
        <div class="folder-tab p-1 rounded-top" *ngFor="let file of filteredFiles; let i = index" [style]="'z-index:' + calcZIndex(i) + ' ;'" [ngClass]="{'selected-tab' : selectedFileIndex == i, 'hover-tab' : hoveringOverFileIndex == i}">
            <a class="m-1 stretched-link tab-link" (click)="selectFile(i)" (mouseenter)="hoverOverFile(i)" (mouseleave)="hoverOverFile(-1)">{{file.name}}</a>
        </div>
    </div>
    <div id="selected-content" class="rounded-bottom text-offwhite">
        <div id="searchbar">
            <div id="path" class="ps-2">{{folderName}}
            </div>
            <mat-icon>keyboard_arrow_right</mat-icon>
            <div id="search" class="text-offwhite">
                <mat-form-field>
                    <button matPrefix class="btn-clear input-icon"><mat-icon>search</mat-icon></button>
                    <input type="search" matInput name="search" [(ngModel)]="searchTerm" (input)="searchTermsChanged()">
                    <button matSuffix class="btn-clear input-icon" (click)="clearSearchTerm()"><mat-icon>clear</mat-icon></button>
                </mat-form-field>
            </div>
            <div id="search-options">
                <div id="collapseFilters" class="collapse collapse-horizontal">

                    <mat-icon class="text-offwhite ">timeline</mat-icon>
                    Regresioni
                    <mat-icon class="text-offwhite ">looks_two</mat-icon>
                    Binarni klasifikacioni
                    <mat-icon class="text-offwhite ">auto_awesome_motion</mat-icon>
                    Multiklasifikacioni
                </div>
                <a class="tab-link p-1" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                    <mat-icon>filter_alt</mat-icon>
                </a>
                <div id="collapseSort" class="collapse collapse-horizontal">
                    [sort options here TODO]
                </div>
                <a class="tab-link p-1" data-bs-toggle="collapse" data-bs-target="#collapseSort" aria-expanded="false" aria-controls="collapseSort">
                    <mat-icon>sort</mat-icon>
                </a>
            </div>
        </div>
        {{fileToDisplay ? fileToDisplay.name : 'No file selected.'}} {{selectedFileIndex}} {{hoveringOverFileIndex}}
    </div>
    <div id="footer" [ngSwitch]="newFileSelected">
        <button mat-button (click)="saveNewFile()" class="bottom-button text-offwhite rounded-bottom" *ngSwitchCase="true">
            <div  class="f-row">
                <div>Sačuvaj</div>
                <div class="pt-1">
                    <mat-icon>check</mat-icon>
                </div>
            </div>
        </button>
        <button mat-button (click)="ok()" class="bottom-button text-offwhite rounded-bottom" *ngSwitchCase="false">
            <div class="f-row">
                <div>Ok</div>
                <div class="icon-double pt-1">
                    <mat-icon>check</mat-icon>
                    <mat-icon>check</mat-icon>
                </div>
            </div>
        </button>
    </div>
</div>