<div id="folder">
    <div id="tabs">
        <div id="new-file-tab" class="folder-tab p-1 rounded-top" [style]="'z-index:' + (selectedTab == TabType.NewFile ? 11 : 10) + ' ;'" [ngClass]="{'selected-tab' : selectedTab == TabType.NewFile, 'hover-tab' : hoverTab == TabType.NewFile}">
            <mat-icon class="text-offwhite">add</mat-icon>
            <a class="stretched-link tab-link" (click)="selectTab(TabType.NewFile)" (mouseenter)="hoverOverTab(TabType.NewFile)" (mouseleave)="hoverOverTab(TabType.None)">
                {{tabTitles[TabType.NewFile]}}
            </a>
        </div>
        <!--<div class="folder-tab p-1 rounded-top" *ngFor="let file of filteredFiles; let i = index" [style]="'z-index:' + calcZIndex(i) + ' ;'" [ngClass]="{'selected-tab' : selectedFileIndex == i, 'hover-tab' : hoveringOverFileIndex == i}">
            <a class="m-1 stretched-link tab-link" (click)="selectFile(i)" (mouseenter)="hoverOverFile(i)" (mouseleave)="hoverOverFile(-1)">{{file.name}}</a>
        </div>-->
        <div class="folder-tab p-1 rounded-top" *ngFor="let tab of tabsToShow; let i = index" [style]="'z-index:' + (selectedTab == tab ? 11 : (tabsToShow.length - i)) + ' ;'" [ngClass]="{'selected-tab' : selectedTab == tab, 'hover-tab' : hoverTab == tab}">
            <a class="m-1 stretched-link tab-link" (click)="selectTab(tab)" (mouseenter)="hoverOverTab(tab)" (mouseleave)="hoverOverTab(TabType.None)">{{tabTitles[tab]}}</a>
        </div>
    </div>
    <div id="selected-content" class="rounded-bottom text-offwhite">
        <div id="searchbar" *ngIf="listView">
            <!-- <div id="path" class="ps-2">{{folderName}}
            </div>
            <mat-icon>keyboard_arrow_right</mat-icon> -->
            <div id="search" class="text-offwhite mx-1">
                <mat-form-field>
                    <button matPrefix class="btn-clear input-icon"><mat-icon>search</mat-icon></button>
                    <input type="search" matInput name="search" [(ngModel)]="searchTerm" (input)="searchTermsChanged()">
                    <button matSuffix class="btn-clear input-icon" (click)="clearSearchTerm()"><mat-icon>clear</mat-icon></button>
                </mat-form-field>
            </div>
            <div id="search-options">
                <div id="collapseFilters" class="collapse collapse-horizontal">
                    <mat-icon class="text-offwhite ">timeline</mat-icon>
                    Regresioni
                    <mat-icon class="text-offwhite ">looks_two</mat-icon>
                    Binarni klasifikacioni
                    <mat-icon class="text-offwhite ">auto_awesome_motion</mat-icon>
                    Multiklasifikacioni
                </div>
                <button class="btn-clear icon-toggle" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                    <mat-icon>filter_alt</mat-icon>
                </button>
                <div id="collapseSort" class="collapse collapse-horizontal">
                    [sort options here TODO]
                </div>
                <button class="btn-clear icon-toggle" data-bs-toggle="collapse" data-bs-target="#collapseSort" aria-expanded="false" aria-controls="collapseSort">
                    <mat-icon>sort</mat-icon>
                </button>
                <!-- <button class="btn-clear icon-toggle separator" [ngClass]="{'icon-toggle-on': listView}" (click)="toggleListView()">
                    <mat-icon>view_list</mat-icon>
                </button> -->
            </div>
        </div>
        <!--{{fileToDisplay ? fileToDisplay.name : 'No file selected.'}} {{selectedFileIndex}} {{hoveringOverFileIndex}}-->
        <div [ngSwitch]="listView" class="folder-inside bg-blur">
            <div class="file-content" [ngSwitch]="type" *ngSwitchCase="false">
                <div class="file-bottom-buttons">
                    <button class="btn-clear file-button" (click)="deleteFile()">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button class="btn-clear file-button">
                        <mat-icon>link</mat-icon>
                    </button>
                    <button class="btn-clear file-button">
                        <mat-icon>zoom_out_map</mat-icon>
                    </button>
                </div>
                <app-form-model [forExperiment]="forExperiment" [model]="fileToDisplay" *ngSwitchCase="FolderType.Model"></app-form-model>
                <app-form-dataset *ngSwitchCase="FolderType.Dataset"></app-form-dataset>
            </div>
            <div *ngSwitchCase="true" class="list-view">
                <div *ngFor="let file of filteredFiles; let i = index" class="list-item">
                    <div class="mx-2">
                        <a class="force-link" (click)="selectFile(i)">{{file.name}}</a>
                    </div>
                    <div class="mx-2 hover-hide">
                        {{file.lastUpdated | date}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" [ngSwitch]="newFileSelected">
        <button mat-button (click)="saveNewFile()" class="bottom-button text-offwhite rounded-bottom" *ngSwitchCase="true">
            <div  class="f-row">
                <div>Sačuvaj</div>
                <div class="pt-1">
                    <mat-icon>check</mat-icon>
                </div>
            </div>
        </button>
        <button mat-button (click)="ok()" class="bottom-button text-offwhite rounded-bottom" *ngSwitchCase="false">
            <div class="f-row">
                <div>Ok</div>
                <div class="icon-double pt-1">
                    <mat-icon>check</mat-icon>
                    <mat-icon>check</mat-icon>
                </div>
            </div>
        </button>
    </div>
</div>