<div class="card" style="min-width: 12rem;">
    <div class="card-header d-flex mb-2 justify-content-" style="padding: 0;margin: 0;">
    
        <div class=" p-2 float-left "><b   style="color: gray;">Prediktor</b></div> 
        
    </div>
    <div class="card-body overflow-hidden">
        <b style="color: gray;">Opis</b><hr  style="width: 20%;">
        <p class="card-text">
           {{predictor.description}}
        </p>
        
        <b style="color: gray;">Ulazne kolone</b>
        <div style="overflow: scroll; overflow-y: hidden;">
            
            <table class="table table-bordered table-md" >
                <thead>
                    <th scope="col" *ngFor="let column of predictor.inputs" >{{column}}</th> 
                </thead>
            </table>
        </div>
        <b style="color: gray;">Izlazna kolona: </b><b>{{predictor.output}}</b>
        <hr>
        <div>
            <table>
                <tr><td><span class="material-icons">calendar_today</span></td><td><span style="color: grey;">   <b> Kreirano</b></span></td><td>{{predictor.dateCreated |date}}</td></tr> 
            </table> 
        </div>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-md col-4" style="background-color:#003459; color:white;"
        (click)="openPredictor();">Iskoristi</button>
       
    </div>
</div>