<div id="header">
    <h1>Napravite svoj model veštačke neuronske mreže</h1>
</div>

<div id="wrapper">
    
    <div id="container" class="container p-5" style="background-color: white; min-height: 100%;">
        
        <div class="form-group row mb-4 d-flex"> <!--justify-content-center-->
            <h2 class="col-sm-2" style="color: #00171f"> Nov model: </h2>
            <div class="col-sm-3">
                <div class="mb-4">
                    <label for="name" class="col-form-label">Naziv modela:</label>
                    <input type="text" class="form-control" name="name" placeholder="Naziv..."
                        [(ngModel)]="newModel.name">
                </div>
                <div class="d-inline-flex align-items-center">
                    <label for="dateCreated" class="col-form-label">Datum:</label> &nbsp;&nbsp;
                    <input type="text" class="form-control-plaintext" id="dateCreated" placeholder="--/--/--"
                        value="{{newModel.dateCreated | date: 'dd/MM/yyyy'}}" readonly>
                </div>
            </div>
            <div class="col-sm-5">
                <label for="desc" class="col-sm-2 col-form-label">Opis:</label>
                <div>
                    <textarea class="form-control" name="desc" rows="3" [(ngModel)]="newModel.description"></textarea>
                </div>
            </div>
        </div>
    
        <div class="my-5 justify-content-center">
            <h2>Izvor podataka:</h2>
            <app-dataset-load id="dataset"></app-dataset-load>
        </div>
        
        <h2>Parametri treniranja:</h2>

        <div class="row">
            <div class="col-2 mt-4">
                <label for="type" class="col-form-label">Tip mreže: </label>
                <select id=typeOptions class="form-control" name="type" [(ngModel)]="newModel.type">
                    <option *ngFor="let option of Object.keys(ANNType); let optionName of Object.values(ANNType)"
                        [value]="option">
                        {{ optionName }}
                    </option>
                </select>
            </div>
            <div class="col-1 mt-4">
                <label for="encoding" class="col-form-label">Enkoding: </label>
                <select id=encodingOptions class="form-control" name="encoding" [(ngModel)]="newModel.encoding">
                    <option *ngFor="let option of Object.keys(Encoding); let optionName of Object.values(Encoding)"
                        [value]="option">
                        {{ optionName }}
                    </option>
                </select>
            </div>
            <div class="col-1 mt-4">
                <label for="optimizer" class="col-form-label">Optimizacija: </label>
                <select id=optimizerOptions class="form-control" name="optimizer" [(ngModel)]="newModel.optimizer">
                    <option *ngFor="let option of Object.keys(Optimizer); let optionName of Object.values(Optimizer)"
                        [value]="option">
                        {{ optionName }}
                    </option>
                </select>
            </div>
            <div class="col mt-4"> 
                <label for="lossFunction" class="col-form-label">Funkcija obrade gubitka: </label>
                <select id=lossFunctionOptions class="form-control" name="lossFunction" [(ngModel)]="newModel.lossFunction">
                    <option *ngFor="let option of Object.keys(LossFunction); let optionName of Object.values(LossFunction)"
                        [value]="option">
                        {{ optionName }}
                    </option>
                </select>
            </div>
            <div class="col-2">
                <label for="inputLayerActivationFunction" class="col-form-label">Funkcija aktivacije<br>ulaznog sloja:</label>
                <select id=inputLayerActivationFunctionOptions class="form-control" name="inputLayerActivationFunction"
                    [(ngModel)]="newModel.inputLayerActivationFunction">
                    <option
                        *ngFor="let option of Object.keys(ActivationFunction); let optionName of Object.values(ActivationFunction)"
                        [value]="option">
                        {{ optionName }}
                    </option>
                </select>
            </div>
            <div class="col">
                <label for="hiddenLayerActivationFunction" class="col-form-label">Funkcija aktivacije<br>skrivenih slojeva:</label>
                <select id=hiddenLayerActivationFunctionOptions class="form-control" name="hiddenLayerActivationFunction"
                    [(ngModel)]="newModel.hiddenLayerActivationFunction">
                    <option
                        *ngFor="let option of Object.keys(ActivationFunction); let optionName of Object.values(ActivationFunction)"
                        [value]="option">
                        {{ optionName }}
                </option>
                </select>
            </div>
            <div class="col">
                <label for="outputLayerActivationFunction" class="col-form-label">Funkcija aktivacije<br>izlaznog sloja:</label>
                <select id=outputLayerActivationFunctionOptions class="form-control" name="outputLayerActivationFunction"
                    [(ngModel)]="newModel.outputLayerActivationFunction">
                    <option
                        *ngFor="let option of Object.keys(ActivationFunction); let optionName of Object.values(ActivationFunction)"
                        [value]="option">
                        {{ optionName }}
                    </option>
                </select>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-2">
                <label for="inputNeurons" class="col-form-label">Broj ulaznih neurona: </label>
                <input type="number" min="1" class="form-control" name="inputNeurons" [(ngModel)]="newModel.inputNeurons">
            </div>
            <div class="col-2">
                <label for="hiddenLayers" class="col-form-label">Broj skrivenih slojeva: </label>
                <input type="number" min="1" class="form-control" name="hiddenLayers" [(ngModel)]="newModel.hiddenLayers">
            </div>
            <div class="col-3 ">
                <label for="hiddenLayerNeurons" class="col-form-label">Broj neurona skrivenih slojeva: </label>
                <input type="number" min="1" class="form-control" name="hiddenLayerNeurons" [(ngModel)]="newModel.hiddenLayerNeurons">
            </div>
            <div class="col-2">
                <label for="batchSize" class="col-form-label">Broj uzorka po iteraciji: </label>
                <input type="number" min="1" class="form-control" name="batchSize" [(ngModel)]="newModel.batchSize">
            </div>
            <div class="col-3 mt-1">
                <label for="type" class="form-check-label mb-3">&nbsp;&nbsp;Podela test skupa:
                    <input class="mx-3 form-check-input" type="checkbox" [checked]="newModel.randomTestSet"
                        (change)="newModel.randomTestSet = !newModel.randomTestSet">
                </label>
                <mat-slider min="0.1" max="0.9" step="0.1" value="0.2" name="randomTestSetDistribution" thumbLabel
                     [disabled]="!newModel.randomTestSet" [(ngModel)]="newModel.randomTestSetDistribution">
                </mat-slider>
            </div>
        </div>

        <br><br>
        <div class="form-group row mt-5">
            <div class="col-4"></div>
            <button class="btn btn-lg col-4" style="background-color:#003459; color:white;" (click)="addModel();">Napravi model</button>
            <div class="col-4"></div>
        </div>

    </div>
</div>
