table.fixed {
    table-layout: fixed;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

table.fixed td {
    overflow: hidden;
    max-width: 200px;
    vertical-align: middle;
}

table.fixed th {
    overflow: hidden;
    max-width: 350px;
    vertical-align: middle;
}

table.fixed th:first-child {
    text-align: center;
    background-color: var(--ns-primary-25);
}

.columnNames {
    background-color: var(--ns-primary-50) !important;
}

.brighter {
    background-color: var(--ns-primary) !important;
}

mat-slider {
    width: 150px;
    
}

.belowColumn {
    background-color: transparent;
}

.slider {
    background-color: var(--ns-bg-dark-50);
}

.bottom-button {
    font-size: large;
    position: relative;
    background-color: var(--ns-primary);
    width: 10rem;
    height: 2.3rem;
    border-color: var(--ns-primary);
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}
#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
