table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
mat-slider{
    width: 300px;
}
.belowColumn{
    background-color: var(--ns-bg-dark-50);
}
.slider{
    background-color: var(--ns-bg-dark-100);
}