table.fixed {
    table-layout: fixed;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid var(--ns-primary-50);
    font-size: 12px;
    border-radius: 4px;
}

table.fixed td {
    overflow: hidden;
    max-width: 200px;
    vertical-align: middle;
    background-color: var(--ns-bg-dark-100);
    margin: 4px;
}

table.fixed th {
    overflow: hidden;
    max-width: 350px;
    vertical-align: middle;
    background-color: var(--ns-bg-dark-100);
    font-size: 14px;
}

table.fixed th:first-child {
    text-align: center;
    background-color: var(--ns-primary-25);
}

.columnNames {
    background-color: var(--ns-primary-50) !important;
}

.brighter {
    background-color: var(--ns-primary) !important;
    border-color: var(--offwhite);
}

.border-bottom {
    border-bottom-color: var(--offwhite) !important;
}

mat-slider {
    width: 150px;
    
}

.belowColumn {
    background-color: transparent;
}

.slider {
    background-color: var(--ns-bg-dark-50);
}

.bottom-button {
    font-size: large;
    position: relative;
    background-color: var(--ns-primary);
    width: 10rem;
    height: 2.3rem;
    border-color: var(--ns-primary);
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}
#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#missingValuesHeader {
    font-size: 12px;
    line-height: 110% !important;
}

.verticalAlign {
    vertical-align: center;
}

.cell-align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

table ::ng-deep .mat-form-field-wrapper {
    margin-top: -2rem;
}

.graphics-row {
    height: 100px;
    padding: 1px;
    margin: 0;
}

.no-pad {
    padding: 1px;
    margin: 0;
}

.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.row-height {
    height: 30px;
    border: none;
    outline: none;
}

.graphic-class {
    background-color: white !important;
}
