<div class="ns-wrapper" *ngIf="tableDatas && tableDatas.length==3">
    <input type="radio" name="slider" id="item-1" value="0" [(ngModel)]="selectedId">
    <input type="radio" name="slider" id="item-2" value="1" [(ngModel)]="selectedId">
    <input type="radio" name="slider" id="item-3" value="2" [(ngModel)]="selectedId">
    <div class="ns-cards">
        <label class="ns-card bg-light overflow-auto" for="item-1" id="view-item-1">
            <app-datatable [tableData]="tableDatas[0]"></app-datatable>
        </label>
        <label class="ns-card bg-light overflow-auto" for="item-2" id="view-item-2">
            <app-datatable [tableData]="tableDatas[1]"></app-datatable>
        </label>
        <label class="ns-card bg-light overflow-auto" for="item-3" id="view-item-3">
            <app-datatable [tableData]="tableDatas[2]"></app-datatable>
        </label>
    </div>
    <div class="ns-infobox">
        <app-item-dataset [dataset]="datasets[getIndex(selectedId)]"></app-item-dataset>
    </div>
</div>