<div #graphWrapper class="position-relative" style="height: 14rem; width: 100%;">
    <div *ngIf="outputColumn!='' && inputColumns!=[]">
        <ng-container *ngFor="let layer of layers; let i = index">
            <div [ngClass]="{'inputs': i==0,'output':i==layers.length-1}"  class="node-text" *ngFor="let node of layer; let j = index" [style.left.%]="node.x * 100" [style.top.%]="(i!=layers.length-1)?node.y * 100:node.y*70">
                {{ i == 0 ? (inputColumns && inputColumns.length >= j ? inputColumns[j] : 'nepoznato') : (i > 0 && i
                < layers.length - 1 ? model!.layers[i-1].activationFunction : (i==layers.length - 1 ? "      "+outputColumn : '')) }} </div>
        </ng-container>
    </div>
    <canvas #graphCanvas></canvas>
</div>