<div id="container">
            <div id="navbar">
                
            </div>
            
            <div id="info"> <!--
                <div id="user">
                    <div id="picture"></div>
                    <div id="username"></div>
                </div>
                <div id="search">
                    <div id="datesearch"></div>
                    <div id="projectname"></div>           
                </div>-->
            </div>
            <div id="main">
                
                <div id="rows">
                        <div class="datasetinfo">
                            <div class="id"><p>1</p></div>
                            <div class="name"><p>Titanic.csv</p></div>
                            <!--<div class="descriptiondsi"></div>-->
                            <div class="datedsi"><p>21.03.2022</p></div>
                            <div class="delete"><img src="bin.png" alt="delete"/></div>
                        </div>
                    <div class="datasetinfo">
                            <div class="id"><p>1</p></div>
                            <div class="name"><p>Titanic.csv</p></div>
                            <!--<div class="descriptiondsi"></div>-->
                            <div class="datedsi"><p>21.03.2022</p></div>
                            <div class="delete"><img src="bin.png" alt="delete"/></div>
                        </div>
                    <div class="datasetinfo">
                            <div class="id"><p>1</p></div>
                            <div class="name"><p>Titanic.csv</p></div>
                            <!--<div class="descriptiondsi"></div>-->
                            <div class="datedsi"><p>21.03.2022</p></div>
                            <div class="delete"><img src="binred.png" alt="delete"/></div>
                        </div>
                </div> 
                <div id="totalcount">
                     UKUPNO TRENIRANIH:3
                </div>
                
                     
                
                <div id="right" style="display:table">
                    
                    <div  style="float:left; margin-left: 9%;">NAZIV:</div>
                    <div id="infor">
                        Titanic.csv
                    </div>
                     <div id="description">
                         <p>OPIS</p>
                         <p style="text-align:justify;color: #001B2E; width: 95%; margin: auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam metus ut malesuada laoreet. Nulla nulla felis, rhoncus id gravida eget, interdum vel dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                    <div id="show">
                        <div id=columnsshow>
                            <div>KOLONE</div>
                            <div id="columns"></div>
                        </div>
                        
                        <div id='iocolumns' style="width:98%; margin-left: 2%" >
                            
                            <div id="inputcol" style="display:table; width: 98%">
                                <div  style="float:left;margin-right: 3%;">ULAZNE KOLONE </div>
                                Pclass, Ticket, Cabin, Embarked
                            </div>
                            <div id="outputcol" style=" width: 98%" >
                                IZLAZNA KOLONA: Survived
                                
                            </div>
                        </div>
                        <div id='params'>
                        <div id='paramsp'>
                            <p>PARAMETRI PREPROCESIRANJA</p>
                            <table style="text-align:justify; border-top: 1px solid #88B7B5; margin-left: 3%">
                                <tr style="box-shadow: 0 0px 5px 0px #88B7B5;">
                                <td id="randomorder">Nasumicno raspoređivanje podataka</td><td> da </td>
                                </tr>
                                <tr style="box-shadow: 0 0px 5px 0px #88B7B5;">
                                <td id="randomtestsetdistribution">Veličina testnog skupa</td><td> 0,3</td>
                                </tr>
                                <tr style="box-shadow: 0 0px 5px 0px #88B7B5;">
                                <td id="encoding">Metoda enkodiranja</td><td> label</td>
                                </tr>
                            </table> 
                        </div>
                        <div id='paramst'>
                            
                            <p>PARAMETRI OBUKE</p>
                            <table style="text-align:justify; border-top: 1px solid #88B7B5; margin-right: 3%">
                                <tr style="box-shadow: 0 0px 5px 0px #88B7B5;">
                                    <td id="type" >Tip</td><td> potpuno povezana</td>
                                </tr>
                                <tr style="box-shadow: 0 0px 5px 0px #88B7B5;">
                                <td id="optimizer">Optimizator</td><td> adam</td>
                                </tr>
                                <tr style="box-shadow: 0 0px 5px 0px #88B7B5;">
                                <td id="lossfunction">Funkcija gubitka</td><td> mean_squared_error</td>
                                </tr>
                                <tr style="box-shadow: 0 0px 5px 0px #88B7B5;">
                                <td id="batchsize">Broj uzoraka</td><td> 5</td>
                                </tr>
                                <tr style="box-shadow: 0 0px 5px 0px #88B7B5;">
                                <td id="hiddenlayers">Broj skrivenih slojeva</td><td> 1</td>
                                </tr>
                            </table>
                        </div>
                            
                        </div>
                            <!--">Broj ulaznih neurona: 1</div>
                        </div>    
                            <div id="hiddenlayerneurons">Broj neurona u skrivenom sloju: 1</div>                            
                            
                            <div id="inputlayeractiovation">Aktvaciona funkcija ulaznog sloja: sigmoid</div>
                            <div id="hiddenlayeractivation">Aktvaciona funkcija uskrivenog sloja: sigmoid</div>
                            <div id="outputlayeractivation">Aktvaciona funkcija izlaznog sloja: sigmoid</div>
-->
                        <div id='table'>
                            <table>
                                <tr>
                                    <th>PARAMETAR</th><th>ULAZNI SLOJ</th><th>SKRIVENI SLOJ</th><th>IZLAZNI SLOJ</th>
                                </tr>
                                <tr>
                                    <td>BROJ NEURONA</td><td>1</td><td>1</td><td>1</td>
                                </tr>
                                <tr>
                                    <td>AKTIVACIONA FUNKCIJA</td><td>sigmoid</td><td>sigmoid</td><td>sigmoid</td>
                                </tr>
                                
                            </table>
                        </div>    
                        <div id='footer'>
                            <div id='created'>DATUM KREIRANJA:<br>20.3.2022</div>
                            
                        </div>
                        <div id='delete'><input type="button" name="delete" style='color: #F8F4F0' value="BRISANJE TRENIRANOG MODELA"></div>
                    </div>
                </div>
            </div>
            
        </div>