<div id="wrapper">
    <div id="container" class="container p-5" style="background-color: white; min-height: 100%;">
        <div class="row mt-3 mb-2 d-flex justify-content-center">
        
        <div class="col-sm-6" style="margin-bottom: 10px;">
        </div>
        
            <div class="row">
                <div class="col-sm-4" style="margin-bottom: 10px;" *ngFor="let model of myModels">
                <app-item-model [model]="model"></app-item-model>
                <div style="width: 25%; margin: auto;">
                    <button mat-raised-button color="primary" (click)="deleteThisModel(model)" style="margin-top: 3px; width: 100%;">Obriši</button>
                    
                    <button mat-raised-button color="primary" (click)="deleteThisModel(model)" style="margin-top: 3px; width: 100%;">Koristi</button>
                </div>
                </div>
            </div>
        <div class="text-center" *ngIf="this.myModels.length == 0" >
        <h2>Nema rezultata</h2>
        </div>
        </div>
    
    </div>
    
    
    
    
    
    </div>
