body{
   background-image:url('ann.jpg'); 
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
   background-size:100% 150%;
   font-size: 20px;
   font-family: sans-serif;
   color: #001B2E;

}
p{
    margin-left:5%
}
#container{
    background-color: #F8F4F0;
    width: 1300px;
    height: 700px;
    margin: auto;
    color: #001B2E;
}
#navbar{
    background-color: #001B2E;
    width: 100%;
    height: 10%;
    margin: 0;
}
#info{
    background-color: #F8F4F0;
    width: 100%;
    height: 5%;
    margin: 0;
}
#search{
    background-color: white;
    width: 70%;
    height: 100%;
    margin: 0;
    margin-top: 0;
}
#main{
    position: relative;
    background-color: #88B7B5;
    width:100%;
    height: 99%;
    margin: 0;
    display: table;
}
#rows{
    position: absolute;
    background-color: whitesmoke;
    width: 30%;
    height: 88%;
    margin: auto;
    margin-top:1%;
    margin-left: 1%;
    
    float:left;
    overflow:scroll;
    overflow-x: hidden;

}
.datasetinfo {
    position: relative;
    width: 97%;
    height: 10%;
    margin: auto;
    background-color: #E03616;
    display: inline-block;
    margin-top: 2%;
    margin-left: 1%;
    box-shadow: 0 7px 7px -3px buttonshadow;
    color: whitesmoke;
}
.id{
    position: relative;
    width: 5%;
    height: 100%;
    background-color:#E03616;
    float: left;
    margin-left:0.5%;
}
.name {
    position: relative;
    width: 52%;
    height: 100%;
    background-color: #E03616;
    float: left;
    margin-left:0.5%;
    margin-right: 1%;
}

.descriptiondsi {
    position: relative;
    width: 52%;
    height: 100%;
    background-color: #E03616; 
    float: left;
    margin-left:0.5%;
}

.datedsi {
    position: relative;
    width: 32%;
    height: 100%;
    background-color: #E03616;
    margin-right: 2%;
    float: left;
    margin-left:0.5%;
}

.delete {
    position: relative;
    width: 5%;
    height: 50%;
    background-color: #E03616;
    float: left;
    margin-left:0.5%;
    margin-top: 4%;
}
.delete img{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #E03616;
    float:right;
    margin: auto;

}
#totalcount{
    background-color: whitesmoke;
    width: 30%;
    height:5%;
    margin: auto;
    margin-top:49%;
    margin-left: 1%;
    position:absolute;
    float:left;

}

#right{
    background-color:#88B7B5;
    width: 67%;
    height: 97%;
    margin: auto;
    margin-top:1%;
    margin-left: 32%;
    position: absolute;
    float:right;
    color: #001B2E;
}
#infor{
    background-color:#eff5f5;
    width: 73%;
    height: 5%;
    margin-left: 27.5%;
    margin-top: 0%;    
    position: relative;
    color: #001B2E;
    color: #001B2E;
    text-align: center;
}
#show{
    font-size: 75%;
    background-color:#eff5f5;
    width: 97%;
    height: 80%;
    margin: auto;
    margin-top: 2%;    
    position: relative;
    color: #001B2E;
    margin-left: 3%;
 
}
#description{
    color: #001B2E;
    background-color:#eff5f5;
    width: 97%;
    height: 10%;
    overflow: scroll;
    overflow-x: hidden;
    margin: auto;
    margin-top: 1%;  
    margin-left: 3%;
    position: relative;
}
#columnsshow{
    background-color:#eff5f5;
    width: 100%;
    height: 10%;
    margin: auto;
    margin-top: 1%;    
    position: relative;
    color: #001B2E;
 
}
#iocolumns{
    background-color:#eff5f5;
    width: 100%;
    height: 20%;
    margin: auto;
    margin-top: 1%;    
    position: relative;
    color: #001B2E;
}
#params{
    display: table;
    background-color:#eff5f5;
    width: 100%;
    height: 20%;
    margin: auto;
    margin-top: 2%;    
    position: relative;
    color: #001B2E;
}
#paramsp{
    background-color:#eff5f5;
    width: 45%;
    height: 90%;
    margin: auto;
    margin-top: 0%;    
    position: relative;
    float:left;
    color: #001B2E;
}
#paramst{
    background-color:#eff5f5;
    width: 45%;
    height: 90%;
    
    margin-top: 0%;
    margin-right: 2%;    
    position: relative;
    float:right;
    color: #001B2E;
}
#table{
    background-color:#eff5f5;
    width: 97%;
    height: 15%;
    margin: auto;
    margin-top: 2%;    
    position: relative;
    color: #001B2E;
    border-bottom: 1px solid #88B7B5;
    border-top: 1px solid #88B7B5;
}
table{
    width:100%;
    height: 100%;
    margin: auto;
    text-align: center;
    color: #001B2E;
}
#footer{
    display: table;
    background-color:#eff5f5;
    width: 100%;
    height: 10%;
    margin: auto;
    margin-top: 2%;    
    position: relative;
    color: #001B2E;
}
#created{
    background-color:#eff5f5;
    width: 30%;
    height: 100%;
    margin: auto;
    margin-top: 1%; 
    margin-left: 1%;
    position: relative;
    float:left;
    font-size: 100%;
    color: #001B2E;
}
#delete{
    background-color:#E03616;    
    width: 100%;
    height: 14%;
    margin: auto;
    margin-top: 2%; 
    color: #F8F4F0;
    position: relative;
    float:right;
    font-size: 150%;
}
#delete input{
    background-color:#E03616;
    width: 100%;
    height: 100%;
    margin: auto;
    border: none;
    border-radius: 0;
    position: relative;
    float:right;
    font-size: 100%;
    color: #001B2E;
}
