  <!--<div class="container" style="margin:auto;">
    <div class="row">
      <div class="col-xl">
          <div class="demo-content"><app-line-chart-acc [dataAcc]="myAcc" [dataEpoch]=""[dataValAcc]=""></app-line-chart-acc></div>
      </div>
      <div class="col-xl">
          <div class="demo-content"><app-line-chart-loss></app-line-chart-loss></div>
      </div>
  </div>
  <div class="row">
    <div class="col-xl">
        <div class="demo-content"><app-line-chart-mae></app-line-chart-mae></div>
    </div>
    <div class="col-xl">
        <div class="demo-content"><app-line-chart-mse></app-line-chart-mse></div>
    </div>
</div>
</div>-->
<app-line-chart></app-line-chart>
  

