<div style="min-height: 100vh; position: relative;">
    
    <!-- TODO <app-navbar [activeNav]="'register'"></app-navbar>-->
    
    <div class="container" style="margin-top: 50px;">
        <div class="text-black">
          <div class="row justify-content-center">
            <div class="col-8 bg-white border rounded-3 shadow-sm p-5">
              <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4">Registracija</p>
      
              <form class="mx-1 mx-md-4">
                <!--Ime-->
                <div class="row">
                    <div class="col-6 p-2">
                        <label class="form-label" for="firstName">Ime</label>
                        <input type="text" id="firstName" class="form-control" [(ngModel)]="firstName" name="firstName">
                        <p *ngIf="wrongFirstNameBool" class="small fw-bold text-danger">Unesite ispravno ime. (minimum 1, maksimum 30 karaktera)</p>
                    </div>
                    <!--Prezime-->
                    <div class="col-6 p-2">
                        <label class="form-label" for="lastName">Prezime</label>
                        <input type="text" id="lastName" class="form-control" [(ngModel)]="lastName" name="lastName" />
                        <p *ngIf="wrongLastNameBool" class="small fw-bold text-danger">Unesite ispravno prezime. (minimum 1, maksimum 30 karaktera)</p>
                    </div>
                </div>
                <br>
      
                <div class="row">
                    <!--Korisnicko ime-->
                    <div class="col-6 p-2">
                        <label class="form-label" for="nickName">Korisničko ime</label>
                        <input type="text" id="nickName" class="form-control" [(ngModel)]="nickName" name="nickName" />
                        <p *ngIf="wrongNickNameBool" class="small fw-bold text-danger">Unesite ispravno korisničko ime.</p>
                    </div>
                    <!--Email-->
                    <div class="col-6 p-2">
                        <label class="form-label" for="email">E-mail adresa</label>
                        <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" />
                        <p *ngIf="wrongEmailBool" class="small fw-bold text-danger">Unesite ispravnu e-mail adresu.</p>
                    </div>
                </div>
                <br>
      
                <div class="row">
                    <!-- Lozinka 1. -->
                    <div class="col-6 p-2">
                        <label class="form-label" for="pass1">Lozinka</label>
                        <input type="password" id="pass1" class="form-control" [(ngModel)]="pass1" name="pass1" />
                        <p *ngIf="wrongPass1Bool" class="small fw-bold text-danger">Lozinka se mora sastojati od najmanje 6 karaktera.</p>
                    </div>
      
                    <!-- Lozinka 2. -->
                    <div class="col-6 p-2">
                        <label class="form-label" for="pass2">Potvrdite lozinku</label>
                        <input type="password" id="pass2" class="form-control" [(ngModel)]="pass2" name="pass2" />
                        <p *ngIf="wrongPass2Bool" class="small fw-bold text-danger">Lozinke se ne podudaraju.</p>
                    </div>
                </div>
      
                <br><br><br>
                <!--Dugme Registruj se-->
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg" (click)="validation()">Registrujte se</button>
                </div>
      
                <div class="form-check d-flex justify-content-center mb-5">
                  <label class="form-check-label" class="small fw-bold mt-2 pt-1 mb-0" for="form2Example3">
                    Već imate kreiran nalog?
                    <a routerLink="/login" class="link-danger">Prijavite se</a>
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    
    <!-- TODO <app-footer></app-footer> -->

</div>